@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-infinite-scroll {
    display: flex;
    width: max-content;
    animation: scroll 60s linear infinite;
  }

  .animate-infinite-scroll:hover {
    animation-play-state: paused;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}